html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	font: 90%/1.3 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl {/* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0; /* removing the top margin gets around an issue where margins can escape from their containing block. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
}
a img {/* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {/* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}
/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
header {
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #ededed 47%, #dadada 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(47%,#ededed), color-stop(100%,#dadada));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: -o-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dadada',GradientType=0 );
	height: 79px;
	width: 100%;
	border-bottom:1px solid #ccc;
}
header img{margin-top:35px; margin-left:30px; }
/* ~~ These are the columns for the layout. ~~

 1) Padding is only placed on the top and/or bottom of the block elements. The elements within these blocks have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the block itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the block element and place a second block element within it with no width and the padding necessary for your design.

 2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a block set to float right). Many times, padding can be used instead. For blocks where this rule must be broken, you should add a "display:inline" declaration to the block element's rule to tame a bug where some versions of Internet Explorer double the margin.

 3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar blocks could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

 4) If you prefer your nav on the left instead of the right, simply float these columns the opposite direction (all left instead of all right) and they'll render in reverse order. There's no need to move the blocks around in the HTML source.

 */
.sidebar1 {
	width: 20%;
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #ededed 47%, #dadada 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(47%,#ededed), color-stop(100%,#dadada));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: -o-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dadada',GradientType=0 );
	float: left;
	position: relative;
}
.inner-sidebar{
	width:auto; padding:10px; border-right:1px solid #ccc;
}

.content {
	padding: 0px;
	margin: 0px;
	width: 80%;
	position: relative;
	float: left;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

.filename {
	position:relative;
	z-index:99999;
	padding-left: 5px;
}
.filemanager {
	width: 100%;
	float: left;
	overflow: auto;
}
.bg {
	background: url('../images/bg.png') repeat;
	width: 100%;
	float: left;
}
.filemanager ul {
	padding: 0px;
	list-style: none;
}
.filemanager ul li {
	position: relative;
	line-height: 35px;
	padding: 0px;
	padding-left: 35px;
	background-position: 5px 5px;
}
.filemanager ul li div {
	position: relative;
}
.filemanager ul li div.opendir {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0px;
	left: 0px;
	cursor: pointer;
}
.filemanager ul li div.opend {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0px;
	left: 0px;
	cursor: pointer;
}
#upload_folder {
	width: 100%;
}
#up-list {
	margin-top:10px;
	width: 100%;
	height: 60px;
	float: left;
	overflow: auto;
	border:1px solid #ccc;
}
.selected {
	color: #fff;
	cursor: move;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	min-width:200px;
	min-height:20px;
	background: -moz-linear-gradient(top,  #00299d 0%, #c1d4ff 47%, #103485 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00299d), color-stop(47%,#c1d4ff), color-stop(100%,#103485));
	background: -webkit-linear-gradient(top,  #00299d 0%,#c1d4ff 47%,#103485 100%);
	background: -o-linear-gradient(top,  #00299d 0%,#c1d4ff 47%,#103485 100%);
	background: -ms-linear-gradient(top,  #00299d 0%,#c1d4ff 47%,#103485 100%);
	background: linear-gradient(top,  #00299d 0%,#c1d4ff 47%,#103485 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00299d', endColorstr='#103485',GradientType=0 );
}
.button{
	display: block;
	/*or inline-block*/
	width: 100%;
	padding: 7px 0;
	text-align: center;
	background: #f6f6f6;
	font-size: 14px;
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #ededed 47%, #dadada 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(47%,#ededed), color-stop(100%,#dadada));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: -o-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dadada',GradientType=0 );
	border: 1px solid #ccc;
	color: #000;
	margin-bottom:10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}
.button:hover{
	background: -moz-linear-gradient(top,  #707070 0%, #8b8b8b 47%, #9b9b9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(47%,#8b8b8b), color-stop(100%,#9b9b9b));
	background: -webkit-linear-gradient(top,  #707070 0%,#8b8b8b 47%,#9b9b9b 100%);
	background: -o-linear-gradient(top,  #707070 0%,#8b8b8b 47%,#9b9b9b 100%);
	background: -ms-linear-gradient(top,  #707070 0%,#8b8b8b 47%,#9b9b9b 100%);
	background: linear-gradient(top,  #707070 0%,#8b8b8b 47%,#9b9b9b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#9b9b9b',GradientType=0 );
	color: #fff;
}
.drop {
	background-color: #f9e9f0;
}

.trash {
	position: absolute;
	background: url('../images/Recycle-Bin-empty-icon.png') no-repeat;
	width: 60px;
	height: 60px;
	top: -70px;
	right: 150px;
}
.trashon {
	background: url('../images/Recycle-Bin-full-icon.png') no-repeat;
}
.indsd {
	position: absolute;
	background: url('../images/home-icon.png') no-repeat;
	width: 60px;
	height: 60px;
	top: -70px;
	right: 80px;
	cursor: pointer;
}
.rename {
	background-color: none;
	border: none;
	outline: none;
}
.selectb{
	padding-top:10px;
	padding-bottom:10px;
}
.order{
	height:33px; width:100%;
	float:left;
	background: -moz-linear-gradient(top,  #707070 0%, #8b8b8b 47%, #9b9b9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(47%,#8b8b8b), color-stop(100%,#9b9b9b));
	background: -webkit-linear-gradient(top,  #707070 0%,#8b8b8b 47%,#9b9b9b 100%);
	background: -o-linear-gradient(top,  #707070 0%,#8b8b8b 47%,#9b9b9b 100%);
	background: -ms-linear-gradient(top,  #707070 0%,#8b8b8b 47%,#9b9b9b 100%);
	background: linear-gradient(top,  #707070 0%,#8b8b8b 47%,#9b9b9b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#9b9b9b',GradientType=0 );
	color: #fff;
	border-bottom:1px solid #707070;
	border-top:1px solid #707070;
	line-height:33px;
}
/* ~~ The footer ~~ */
footer {
	padding: 0;
	border-top:1px solid #ccc;
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #ededed 47%, #dadada 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(47%,#ededed), color-stop(100%,#dadada));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: -o-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	background: linear-gradient(top,  #f6f6f6 0%,#ededed 47%,#dadada 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dadada',GradientType=0 );
	float: left;
	width: 100%;
	height: 39px;
	line-height:39px;
	color:#999;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, article, figure {
	display: block;
}
.dettagli_file{
	position:absolute;
	bottom:20px;
	right:10px;
	left:10px;
	border:1px solid #ccc;
	background:#efefef;
	height:250px;
	overflow:auto;
}
.dettagli_file div{padding:10px;}
.dett_file{float:right; margin-top:-35px; padding-right:10px; text-align:right; font-size:10px; z-index:9999999;}
